In [19]:
import pandas as pd
import sklearn as sk

In [17]:
file_path = "../../Data Processing/Outputs/processed_fdn_draft_data"
df = pd.read_pickle(file_path)

In [22]:
df.head()

,draft_id,pick,pick_maindeck_rate
42,f4060a8ab54f4a02b0916f3b0d984141,Sire of Seven Deaths,0.0
43,f4060a8ab54f4a02b0916f3b0d984141,Inspiration from Beyond,1.0
44,f4060a8ab54f4a02b0916f3b0d984141,Clinquant Skymage,1.0
45,f4060a8ab54f4a02b0916f3b0d984141,Think Twice,1.0
46,f4060a8ab54f4a02b0916f3b0d984141,Strix Lookout,1.0

In [31]:
maindeck_df = df.loc[df['pick_maindeck_rate'] == 1]
agg_maindeck_df = maindeck_df.groupby('draft_id')['pick'].apply(list).reset_index(name = 'maindeck')
agg_maindeck_df.head()

,draft_id,maindeck
0,0112d4efbadc44eeb0355d6a9b201cc5,"[Lathril, Blade of the Elves, Overrun, Bake in..."
1,01ccac4b47e84139a575f9a5305c3e74,"[Exemplar of Light, Heroic Reinforcements, Cel..."
2,0246b599b6624f2fbeb7daac0fbcf745,"[Make Your Move, Vanguard Seraph, Dazzling Ang..."
3,03f74c0fc8a84843800e7ebfcb626960,"[Sphinx of Forgotten Lore, Hero's Downfall, St..."
4,04c8243864e64837b79661a7723efb7c,"[Homunculus Horde, Tatyova, Benthic Druid, Str..."

In [32]:
corpus = agg_maindeck_df['maindeck']
print(corpus)

vectorizer = sk.TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names_out()

0      [Lathril, Blade of the Elves, Overrun, Bake in...
1      [Exemplar of Light, Heroic Reinforcements, Cel...
2      [Make Your Move, Vanguard Seraph, Dazzling Ang...
3      [Sphinx of Forgotten Lore, Hero's Downfall, St...
4      [Homunculus Horde, Tatyova, Benthic Druid, Str...
                             ...
219    [Wildwood Scourge, Wildwood Scourge, Snakeskin...
220    [Rite of the Dragoncaller, Firespitter Whelp, ...
221    [Spinner of Souls, Garruk's Uprising, Cackling...
222    [Exemplar of Light, Vampire Nighthawk, Vampire...
223    [Koma, World-Eater, Elvish Regrower, Nessian H...
Name: maindeck, Length: 224, dtype: object